html, body {
  line-height: 0;
  margin: 0;
  background-color: #fff;
  font-family: sans-serif;
  transition: 1s background-color;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: .125rem;
}

.dot.on {
  background-color: #1af;
}
.dot.off {
  background-color: #eee;
}

canvas {
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 100;
}

.result {
  color: #fff;
}

.result.success {
  background-color: #1af;
}

.result-row {
  display: flex;
  border-top: 1px solid currentColor;
}

.result-cell {
  flex-grow: 1;
}



.result-cell + .result-cell {
  border-left: 1px solid currentColor;
}

