html, body {
  line-height: 0;
  margin: 0;
  height: 100%;
  font-weight: 100;
  color: #fff;
  background-color: #000;
  font-family: sans-serif;
  transition: 1s background-color;
}

.small {
  font-size: .5em;
}

canvas {
  margin: 1rem auto;
  display: block;
}


.result {
  color: #fff;
}

.result.success {
  background-color: #1af;
}

.result-row {
  display: flex;
  border-top: 1px solid currentColor;
}

.result-cell {
  flex-grow: 1;
}



.result-cell + .result-cell {
  border-left: 1px solid currentColor;
}












.slider-ctrl {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 100;
  border-bottom: 1px solid #fff;
}

.slider-counter {
  margin: 2rem 0;
  font-size: 4rem;
  line-height: 1;
}

.slider-counter:before,
.slider-counter:after {
  content: ' ';
  display: inline-block;
}

.slider-input-container {
  position: relative;
  width: 4rem;
  flex-grow: 1;

}

.slider-input-thumb {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;

  animation-name: initbounce;
  animation-duration: 1s; 
  animation-timing-function: ease-out; 
  animation-iteration-count: 1;
}
.slider-input-thumb.reset {
  top: 0;
  transition: .5s top ease;
}

.slider-input-thumb:before {
  content: "";
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #1af;
  border: .5rem solid #000;
  box-sizing: border-box;
}

@keyframes initbounce {
  0%   { top: 75%;}
  30%  { top: 0;}
  50%  { top: 20%;}
  70%  { top: 0;}
  85%  { top: 5%;}
  100% { top: 0;}
}

.slider-intro {
  line-height: 1;
}






.summary-ctrl {
  display: flex;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  overflow: hidden;
  background-color: #000;
  transition: background-color 2s ease .8s;
}

.summary-ctrl > * {
  position: relative;
  opacity: 0;
  top: 2rem;
  transition: top 1s, opacity 1s;
}

.summary-ctrl.ready > * {
  opacity: 1;
  top: 0;
}

.summary-ctrl.ready > *:nth-child(1) { transition-delay: 0; }
.summary-ctrl.ready > *:nth-child(2) { transition-delay: .4s; }
.summary-ctrl.ready > *:nth-child(3) { transition-delay: .8s; }

.summary-ctrl.success { background-color: #1af;}
.summary-ctrl.fail    { background-color: rgb(224, 0, 67);}

.summary-bloc {
  display: flex;
}

.summary-item {
  border: none;
  border-top: 1px solid #fff;
  background: none;
  padding: 1rem;
  margin: 0;
  color: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  line-height: 1;
}

.summary-item + .summary-item {
  border-left: 1px solid #fff;
}

.summary-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
}

.summary-counter-wrap {
  margin: 0;
  font-size: 4rem;
}